main {
  margin-top: 7vh;
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.esconder {
  display: none !important;
}
/* Aside */
#aside-cliente {
  width: 20%;
  height: 100%;
  border-right: 2px solid var(--softPink);
}

.aside-items {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-container-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
}

.aside-option {
  display: grid;
  place-items: center;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: var(--softPink);
  box-shadow: 0px 2px 2px rgb(134, 134, 134);
}

.aside-img {
  font-size: 5rem;
  color: var(--softPink);
  height: 150px;
  width: 150px;
  display: grid;
  place-items: center;
}

.aside-option > p {
  margin: 0;
  color: white;
}

.aside-option:hover {
  background-color: var(--darkPink);
  text-decoration: none;
  cursor: pointer;
}

/* End Aside */

#conteudo-cliente {
  width: 100%;
  background-image: url("/images/background.png");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Meus Dados */

#meus-dados {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa-info {
  position: relative;
  padding: 50px;
  width: 30%;
  height: 30%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 7px 7px 30px 3px rgba(77, 77, 77, 0.1);
  border-radius: 60px;
}

.dados-topo {
  margin-bottom: auto;
}

.dados-gerais {
  margin-bottom: auto;
}

.dados-gerais > p {
  font-size: 2rem;
}

.dados-gerais > p:nth-of-type(1) {
  padding-top: 20px;
}

.dados-gerais > * {
  display: inline;
}

/* End Meus Dados */

/* Media */
@media (max-width: 770px) {
  .aside-img {
    display: none;
  }

  #conteudo-cliente {
    width: 100%;
    height: 60vh;
  }

  #meus-dados {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #aside-cliente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34vh;
    border-right: 2px solid var(--softPink);
  }

  .aside-container-options {
    height: 100%;
  }

  .aside-items {
    height: 100%;
    background-color: var(--softPink);
  }
  .aside-option {
    box-shadow: none;
  }
  .caixa-info {
    position: relative;
    padding: 25px;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 7px 7px 30px 3px rgba(77, 77, 77, 0.1);
    border-radius: 60px;
  }
}
