@font-face {
  font-family: titulos;
  src: url(fonts/Andika.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: titulos;
  height: 100%;
}

.navbar-custom {
  position: fixed;
  z-index: 1;
  top: 0px;
  height: 7vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-custom .logo img {
  width: 20vh;
}

.nav-links-custom {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-links-custom ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links-custom-inner li a {
  margin: 15px;
  text-decoration: none;
  color: #f2b5d4;
}

.nav-links-custom-inner li a:hover {
  color: #f0a3ca;
}

.nav-links-custom-inner li .nav-login:hover {
  color: #f0a3ca;
  background-color: white;
  border: 2px solid #f0a3ca;
  padding: 4px 18px 4px 18px;
}

.nav-links-custom-inner li:after {
  content: "";
  background-color: #f0a3ca;
  width: 2px;
  height: 14px;
  display: inline-block;
}

.nav-links-custom-inner li:last-child::after {
  content: "";
  display: none;
}

.nav-links-custom-inner .nav-login {
  background-color: #f0a3ca;
  color: white;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
}

.burguer {
  display: none;
  cursor: pointer;
}

.burguer div {
  width: 25px;
  height: 3px;
  margin: 7px;
  background-color: #f0a3ca;
  transition: all 0.3s ease;
}

.last-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  order: -1;
}

.car img {
  width: 1.6em;
  margin: 10px;
}

@media screen and (max-width: 924px) {
  body {
    overflow-x: hidden;
  }

  .nav-links-custom-inner .nav-login {
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-links-custom-inner li .nav-login:hover {
    color: #f0a3ca;
    background-color: white;
    border: 2px solid #f0a3ca;
    padding: 4px 48px 4px 48px;
  }

  .container-nav {
    width: 100vw;
  }

  .nav-links-custom {
    display: none;
    position: absolute;
    right: 0px;
    top: 7vh;
    min-height: 93vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
  }

  .nav-links-custom ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links-custom ul li {
    font-size: 2em;
    opacity: 0;
    margin: 10px;
  }

  .burguer {
    display: block;
  }

  .nav-links-custom-inner li:after {
    content: "";
    display: none;
  }

  .nav-active {
    z-index: 2;
    display: flex;
    transform: translateX(0%);
  }
}

@keyframes nav-resp-items-animation {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 9px);
}

@keyframes line2-anim {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

.back {
  animation: line2-anim 0.4s forwards reverse;
  opacity: 1;
}

.toggle .line2 {
  animation: line2-anim 0.4s forwards;
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -9px);
}

.container-nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.no-down {
  overflow: hidden;
}
